@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.page {
  background-image: var(--page-background-image, none);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 7%;
  padding-bottom: 102px;
}

.header-box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  inline-size: 48.8vw;
  padding-top: 130px;
  padding-bottom: 127px;
  border: var(--border);
  text-align: center;
  background-color: white;
}

.header-title {
  margin-bottom: 1.5%;
  font-family: var(--title-font), sans-serif;
  font-size: 2.83vw;
}

.header-paragraph {
  font-family: var(--title-font), sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  font-size: 1.6vw;
}

.cards-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  border: var(--border);
  width: 48.8vw;
  margin-bottom: 3.3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.card-section-title {
  font-family: 'PressStart2P', sans-serif;
  padding-top: 0.75%;
  padding-left: 1.5%;
  font-variation-settings: 'wght' 700;
  font-size: 140%;
  padding-bottom: 0.75%;
  border-bottom: var(--border);
}

.card-section-paragraph {
  font-family: 'Inter-Variable';
  padding-top: 19.68px;
  padding-left: 25px;
  padding-right: 25.5px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' 450;
}

.card .card-section-paragraph:last-of-type {
  padding-top: 24.1px;
  padding-bottom: 3.5px;
}

.flex-card-button {
  padding-top: 3.68%;
  align-self: flex-end;
  display: flex;
  margin-right: 4%;
  gap: 0.5vh;
  font-family: var(--title-font), sans-serif;
  letter-spacing: 0.01em;
  margin-bottom: 3.7%;
}

.button {
  border: var(--border);
  position: relative;
  overflow: hidden;
  width: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--title-font), sans-serif;
  font-size: 14px;
  transition: color 0.5s ease-in-out;

}

.card-image-container {
  position: relative;
  height: 100%;
  overflow : hidden;
}

.card-image {
  width: 100%;
  border: var(--border);
  border-bottom: 4px solid black;
}

.card-saturate img {
  height: 100%; 
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}

.card-grayscale img {
  height: 100%; 
  inline-size: 90%;
  width: 100%;
  background: linear-gradient(149deg, rgb(255, 154, 177) 0%, rgb(255, 233, 152) 42%, rgb(255, 181, 149) 72%, rgb(255, 223, 162) 100%);
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0); 
} 

.card__hue-rotate img {
  height: 100%; 
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(149deg, rgb(18, 114, 9) 0%, rgb(66, 79, 227) 42%, rgb(24, 187, 160) 72%, rgb(1, 252, 126) 100%);
  background-size:300% 300%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}

.card-invert img {
  height: 100%; 
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(149deg, rgb(169, 243, 85) 0%, rgb(178, 252, 165) 42%, rgb(24, 187, 160) 72%, rgb(233, 255, 123) 100%);
  background-size:300% 300%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}

.card-sepia img {
  height: 100%; 
  width: 100%;
  padding-top: 160px;
  padding-bottom: 160px;
  background: linear-gradient(149deg, rgb(2, 88, 79) 0%, rgb(0, 58, 35) 42%, rgb(0, 20, 17) 72%, rgb(33, 39, 0) 100%);
  background-size:300% 300%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}

.label {
  position: absolute;
  font-size: 14px;
  bottom: 94.8%;
  right: 4%;
  font-family: var(--title-font), sans-serif;
  color: var(--brand-color);
  text-shadow: rgb(255, 255, 255) 2px 0px, rgb(255, 255, 255) 2px 2px, rgb(255, 255, 255) 0px 2px, rgb(255, 255, 255) -2px 2px, rgb(255, 255, 255) -2px 0px, rgb(255, 255, 255) -2px -2px, rgb(255, 255, 255) 0px -2px, rgb(255, 255, 255) 2px -2px;
}

@supports (-webkit-text-stroke: 1px #FFFFFF) {
  .label {
      -webkit-text-stroke: 1px #FFFFFF;
      text-shadow: none;
  }
}

.card-blur img {
  height: 100%; 
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(149deg, #872aa9  0%, rgb(6, 134, 231) 42%, rgb(235, 59, 77) 72%, rgb(51, 51, 94) 100%);
  background-size:300% 300%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}

.card-sepia-hue-rotate-contrast-invert img {
  filter: sepia(15%) hue-rotate(86deg) contrast(105%) invert(5%);
  mix-blend-mode: hard-light;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.button:before {
  content:'';
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
  
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  border: 2px solid black;
}

.button:hover::after {
  transform: translateX(0);
}

.button:hover .button__text {
  color: white;
  mix-blend-mode: difference;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

dialog[open] {
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: grid;
  padding: 30px;
  text-transform: uppercase;
}

.grid-dialog {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 5fr;
}

.dialog-box {
  display: flex;
  justify-content: center;
  margin-top: 0.9%;
}

.button-dialog {
  width: 100%;
  height: 40px;
}

.button-footer {
  position: relative;
  background-color: #FFFFFF;
  z-index: 4;
  padding-top: 18px;
  height: 55px;
  width: 335px;
  border: var(--border);
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 0fr 1fr 7fr;
}

.button-footer .button__text {
  font-size: 14px;
  padding-top: 4px;
  padding-right: 9px;
}

.article-paragraph {
  font-family: var(--title-font);
  font-size: 88%;
  line-height: 135%;
}

.button-discket {
  width: 21px;
  height: 21px;
  display: flex;
  margin-left: 16px;
}

.button-footer:hover .button-discket {
  fill: rgb(255, 255, 255);
}

dialog .button-discket {
  scale: 2;
  width: 30px;
  display: flex;
  margin-top: 18px;
  margin-left: 16px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: var(--border);
  padding: 15px;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

form input,textarea {
  padding: 7px;
  margin-top: 5px;
  border: 2px solid #000000;
  resize: none;
  font-family: var(--paragraph-font);
}

form textarea {
  margin-bottom: 10px;
}

@media (width <= 750px) {
  .card {
      width: 100%;
      margin-bottom: 13.25%;
  }

  .header-box-title {
      margin-top: 19%;
      inline-size: 100%;
      height: 327px;
      margin-bottom: 19%;
  }

  .header {
      padding-bottom: 32px;
  }

  .header-title {
      font-size: 6vw;
      margin-bottom: 4%;
  }
  
  .header-paragraph {
      font-size: 3vw;
  }

  .card-section-title {
    padding-left: 10px;
    padding-right: 5%;
  }

  .card-section-paragraph {
      padding-top: 22.8px;
      padding-left: 23.2px;
      padding-right: 30px;
      padding-bottom: 3.5px;
      
  }

  .card .card-section-paragraph:last-of-type {
    padding-bottom: 3.75px;
    padding-top: 22.8px;
  }
  
  .button {
      width: 140px;
      margin-right: 5%;
  }

  .button__text {
      font-size: 95%;
  }

  .flex-card-button {
      padding-top: 5.8%;
      margin-bottom: 8%;
  }

  .button-footer {
      display: block;
      margin-right: 0;
      width: 306px;
      height: 84px;
  }

  .card:last-child {
    margin-bottom: 14%;
  }

  .button-discket {
    scale: 1.4;
    height: 30px;
    padding-bottom: 3px;
    margin-left: 140px;
  }

  .button-footer {
    padding-top: 4px;
    margin-bottom: 100px;
  }

  .button-footer .button__text {
    text-align: center;
    margin-left: 5%;
    font-size: 90%;
  }

  .label {
      font-size: 13.5px;
      bottom: 89%;
  }

  .button-dialog {
    width: 100%;
  }

  dialog[open] {
    padding-left: 40px;
    padding-right: 40px;
  }
}